{% extends "admin_base.html" %} {% block title %}Admin - Pets{% endblock %} {%
block content %}
<h2>Pets List</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Species</th>
      <th>Age</th>
      <th>Owner</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for pet in pets %}
    <tr>
      <td>{{ pet.id }}</td>
      <td>{{ pet.name }}</td>
      <td>{{ pet.species }}</td>
      <td>{{ pet.age }}</td>
      <td>{{ pet.owner.username }}</td>
      <td>
        <form
          action="{{ url_for('admin.admin_delete_pet', pet_id=pet.id) }}"
          method="post"
          style="display: inline"
        >
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
