{% extends "base.html" %} {% block title %}Log In — Take A Paw{% endblock %} {%
block content %}
<h2>Log In</h2>
<form class="form" method="post" action="/login">
  <input type="hidden" name="next" value="{{ next_url }}" />

  <div class="grid">
    <label
      >Username
      <input name="username" required placeholder="your username" />
    </label>
    <label
      >Password
      <input
        name="password"
        type="password"
        required
        placeholder="your password"
      />
    </label>
  </div>

  <button class="btn" type="submit">Log In</button>
  <p>Don't have an account? <a href="/register">Register here</a></p>
</form>
{% endblock %}
