{% extends "base.html" %} {% block title %}Profile — Take A Paw{% endblock %} {%
block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}" />
{% endblock %} {% block content %}
<div class="profile-page">
  <h2>My Profile</h2>

  <form
    class="profile-form"
    method="post"
    action="{{ url_for('auth.profile_submit') }}"
  >
    <div class="form-group">
      <label>Username:</label>
      <span id="username-id">{{ user.username }}</span>
    </div>

    <div class="form-group">
      <label>Display Name:</label>
      <input name="display_name" type="text" value="{{ user.display_name }}" placeholder="But... you should have one" />
    </div>

    <div class="form-group">
      <label>Email:</label>
      <input type="text" name="email" value="{{ user.email or '' }}" placeholder="Enter your email">
    </div>

    <div class="form-group">
      <label>Phone:</label>
      <input name="phone" type="text" value="{{ user.phone or '' }}" placeholder="Enter your phone number" />
    </div>

    <div class="form-group">
      <label>
        <input
          type="checkbox"
          name="public_contact"
          value="1"
          {%
          if
          user.public_contact
          %}checked{%
          endif
          %}
        />
        Show my contact info publicly
      </label>
    </div>

    <button type="submit" class="btn">Save</button>
  </form>
</div>
{% endblock %}
